name: deploy-s3
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0

      - name: Deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_S3_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_S3_SEACRET_ACCESS_KEY }}
        run: aws s3 cp --recursive --region ap-northeast-1 build s3://homework-manegiment-swagger-s3-backetI
